.number-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: solid;
    border-radius: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    background-color: #f7eddf;
    box-shadow: 1rem 1rem black;
}

.number-container p {
    font-family: "PixelCode Thin";
    padding: 1rem;
}
.number-icon {
    border: solid;
    border-color: black;
    /* height:70px;
    width: 70px; */
    border-radius: 50%;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: xx-large;  
    background-color: white;
    box-shadow: 0.25rem 0.25rem black;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.number-icon:hover {
    box-shadow: inset 0.15rem 0.15rem 0.5rem 0 rgb(35, 35, 35);
}

.project-card {
    background-color: #f7eddf;
    border: solid;
    border-radius: 2rem;
    padding: 5rem;
    box-shadow: 1rem 1rem black;
    margin: 7rem;
    margin-right: 8.5rem;
}

.project-card h2 {
    font-family: "PixelCode Thin";
}

.project-card p {
    font-family: "PixelCode Thin";
    margin-left: 2rem;
    margin-top: 2rem;
    text-wrap: wrap;
}

.project-container {
    background-color: white;
    border: solid;
    border-radius: 2rem;
    height: 400px;
    width: 300px;
    box-shadow: 1rem 1rem black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px){
    .number-container {
        margin-left: 7rem; 
        margin-right: 7rem;  
        max-height: 400px;
    }

    .number-icon {
        font-size: small;
    }
    .project-card {
        background-color: #f7eddf;
        border: solid;
        border-radius: 2rem;
        padding: 3rem;
        box-shadow: 1rem 1rem black;
    }
    
    .project-container {
        background-color: white;
        border: solid;
        border-radius: 2rem;
        height: 300px;
        width: 200px;
        box-shadow: 1rem 1rem black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .project-container img {
        width: 150px;
        margin-left: 25px;
        margin-right: 25px;
        border: solid;
    }

    #circle {
        height: 30px;
        width: 30px;
        border: solid;
        border-radius: 50%;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.project-container img {
    min-width: 150px;
    max-width: 250px;
    margin-left: 25px;
    margin-right: 25px;
    border: solid;
}

#circle {
    height: 50px;
    width: 50px;
    border: solid;
    border-radius: 50%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#circle:hover {
    box-shadow: inset 0.15rem 0.15rem 0.5rem;
}