@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: black;
  background-color: #f7eddf;
  background-size: cover;
  font-family: "Jura", "Ubuntu";
  
}

/* body::before { */
  /* content: '';
  position: absolute;

  background: url('/images/landing-bg.jpg') no-repeat center center; 
  background-size: cover;
  opacity: 0.5; 
  z-index: -1;
} */
